body{
    background-color: black;
}
.content div{
    color: white;
}
.welcome{
    font-size: 75px;
}
.invite{
    font-size: 60px;
}
.logo{
    height: 300px;
    width: 300px;
   background-color: white;
   
   margin-left: 200px;
   margin-top: 180px;
}
.content{
    display: inline-block;
    margin-left: 200px;
   
}
.login{
    display: block;
}
.Google{
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    border: none;
}
.Apple{
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    border: none;
}
.account{
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    border: none;

}